# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
installer/Output/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ReSharper / Rider
.idea/
*.DotSettings.user

# NuGet
*.nupkg
packages/
!**/packages/build/

# Logs
*.log
logs/

# OS
Thumbs.db
desktop.ini
